@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.font-sm, .twitterContent, .supportContent, .socialContent, .dlcard {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 20px;
  margin: 0;
}

img {
  max-width: 100%;
}

button:focus {
  outline: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.svgAll {
  display: none;
}

#global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  width: 30%;
  min-height: 100vh;
  background-color: #FAFBFD;
}

.header__inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 1024px;
}

.header .appName {
  text-align: center;
}

.header .appName > svg {
  margin-right: 10px;
  margin-bottom: 4px;
  fill: #FF0000;
  height: 1.4em;
  width: 1.4em;
}

.menu > ul > li {
  cursor: pointer;
}

.menu > ul > li > svg {
  margin-right: 5px;
}

.menu > ul > li:hover {
  color: #126eff;
}

.menu > ul > li:hover > svg {
  fill: #126eff;
}

.menu > ul > li.active {
  color: #126eff;
}

.menu > ul > li.active > svg {
  fill: #126eff;
}

.menu > ul > li > .icon {
  width: 15px;
  height: 30px;
}

.infomation {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}

.twitterContent {
  height: 140px;
  background: #FFF;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.twitterContent__wrap {
  padding: 10% 3% 0% 10%;
}

.twitterContent__wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twitterContent .profilePic {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  overflow: hidden;
}

.twitterContent .aboutMe {
  width: 60%;
}

.twitterContent .aboutMe__name {
  font-weight: bold;
}

.twitterContent .aboutMe__account {
  font-size: .5em;
}

.twitterContent .aboutMe__contact {
  border: none;
  font-size: .75em;
  background-color: #1da1f2;
  color: #FFF;
  width: 60px;
  height: 20px;
  border-radius: 20px;
}

.twitterContent__discript {
  font-size: .5em;
  padding-right: 10%;
  margin-top: 6%;
}

.supportContent {
  height: 140px;
  background: #FFF;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.supportContent__wrap {
  padding: 10% 3% 0% 10%;
}

.supportContent__wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.supportContent .emoji {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: #28b2b1;
  font-size: 1.8em;
  text-align: center;
  line-height: 2.2em;
}

.supportContent .please {
  width: 60%;
}

.supportContent .please__pray {
  font-weight: bold;
}

.supportContent .please__support {
  border: none;
  font-size: .75em;
  background-color: #28b2b1;
  color: #FFF;
  width: 60px;
  height: 20px;
  border-radius: 20px;
}

.supportContent__discript {
  font-size: .5em;
  margin-top: 6%;
}

.socialContent {
  height: 70px;
  background: #FFF;
  border-radius: 20px;
  margin-top: 10%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.socialContent__wrap {
  padding: 10% 10% 0% 10%;
}

.socialContent .socialMedia__ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialContent .socialMedia__li {
  width: 20px;
  height: 20px;
}

.socialContent .socialMedia__li > a > svg {
  width: 20px;
  height: 20px;
}

.main {
  display: none;
  width: 100%;
  padding-top: 2%;
}

.add {
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5%;
}

.add__button {
  cursor: pointer;
  width: 75px;
  height: 35px;
  border: solid 2px #126eff;
  background-color: transparent;
  border-radius: 35px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 27px;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
}

.add__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add__button > span:nth-child(1) {
  color: #126eff;
  margin-left: 18%;
  font-size: 11px;
}

.add__button > span:nth-child(2) {
  width: 10px;
  height: 2px;
  background-color: #126eff;
  display: block;
  -webkit-transform: translate(3px, 12.5px) rotate(90deg);
          transform: translate(3px, 12.5px) rotate(90deg);
  border-radius: 50px;
}

.add__button > span:nth-child(3) {
  width: 10px;
  height: 2px;
  background-color: #126eff;
  display: block;
  -webkit-transform: translate(-7px, 12px);
          transform: translate(-7px, 12px);
  border-radius: 50px;
}

.youtubeDownload {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.dlcardWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fadeeffect {
  opacity: 0;
  -webkit-transform: translate(0, 45px);
          transform: translate(0, 45px);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.showeffect {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.dlcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 300px;
  margin-bottom: 4%;
}

.dlcard__title {
  top: 5%;
  left: 11%;
  color: #FFF;
  z-index: 10;
  position: absolute;
}

.dlcard__title > svg {
  fill: #FFF;
  height: 1.4em;
  width: 3.4em;
}

.dlcard__videoName {
  display: inline;
  vertical-align: middle;
}

.dlcard__thumbnail {
  position: absolute;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.dlcard__thumbnail--cover {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 塗りつぶす */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(255, 255, 255, 0)), to(#e65b7e));
  background: linear-gradient(top, rgba(255, 255, 255, 0) 40%, #e65b7e 100%);
}

.dlcard__thumbnail > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.dlcard__url {
  width: 70%;
  z-index: 11;
  position: absolute;
  bottom: 0;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.dlcard__url > input {
  color: #FFF;
}

.dlcard__url > input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.dlcard__url > input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.dlcard__url > input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.dlcard__url > input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.dlcard__url > input[type="url"] {
  border: 1px solid #FFF;
  width: 100%;
  outline: none;
  line-height: 2px;
  border-width: 0px 0px 2px 0px;
  background-color: transparent;
}

.downloadButton {
  font-size: 11px;
  margin: 3% auto;
  display: block;
  width: 120px;
  height: 40px;
}

.downloadButton__bg {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.downloadButton__circle {
  cursor: pointer;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  color: #FFF;
  border: none;
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  background: #126eff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0px 6px 20px;
}

.downloadButton__icon {
  width: 17px;
  height: 30px;
  border-bottom: solid 2px;
  -webkit-transform: translate(10px, -7px);
          transform: translate(10px, -7px);
}

.downloadButton__icon::before {
  width: 1px;
  height: 5px;
  border: solid 1px;
  content: "";
  display: block;
  border-radius: 50px;
  -webkit-transform: translate(-1px, 25px);
          transform: translate(-1px, 25px);
}

.downloadButton__icon::after {
  width: 1px;
  height: 5px;
  border: solid 1px;
  content: "";
  border-radius: 50px;
  display: block;
  -webkit-transform: translate(15.5px, 20px);
          transform: translate(15.5px, 20px);
}

.downloadButton__icon > svg {
  position: absolute;
  top: 13px;
  left: 2px;
  fill: #FFF;
  height: 13px;
  width: 13px;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-animation-name: kf-arrow-anime;
          animation-name: kf-arrow-anime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.downloadButton .progressBar {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.downloadButton.open {
  width: 250px;
}

.downloadButton.open .downloadButton__bg {
  background: #555;
  position: relative;
  width: 100%;
  height: 40px;
  -webkit-transform: scaleY(0.125);
          transform: scaleY(0.125);
  margin-top: 5px;
  display: block;
  border-radius: 5px;
}

.downloadButton.open .downloadButton__circle {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  background-color: #126eff;
  padding: 0;
}

.downloadButton.open .downloadButton__text {
  display: none;
}

.downloadButton.open .downloadButton__icon {
  display: none;
}

.downloadButton.open #progress-css {
  width: 100%;
}

.downloadButton.open .progressBar {
  -webkit-animation-name: progress;
          animation-name: progress;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.downloadButton.open .progressBar__value {
  text-align: end;
  margin-bottom: -18px;
}

.downloadButton.open .progressBar > #progress-css {
  width: 100%;
}

.selectType__button > input[type="radio"] {
  display: none;
}

.selectType__button > input[type="radio"]:checked + label:before {
  border-color: #126eff;
  -webkit-animation: ripple 0.2s linear forwards;
          animation: ripple 0.2s linear forwards;
}

.selectType__button > input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selectType__button > label {
  display: inline-block;
  min-height: 18px;
  position: relative;
  padding: 0 28px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}

.selectType__button > label:before, .selectType__button > label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
}

.selectType__button > label:before {
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}

.selectType__button > label:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #126eff;
}

.main2 {
  display: none;
  width: 100%;
  padding-top: 2%;
}

.songs-song-wrap {
  margin: auto 0;
}

.title-pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3ch;
}

.datatitle {
  width: 70%;
}

.datatitle__name {
  font-weight: 900;
  font-size: 40px;
}

.numerator {
  color: #126eff;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__number {
  background-color: #FAFBFD;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.pagination__buttons {
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__previous {
  width: 13px;
  height: 13px;
  border: solid 1px black;
  border-style: none none solid solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
  cursor: pointer;
}

.pagination__next {
  width: 13px;
  height: 13px;
  border: solid 1px black;
  border-style: solid solid none none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
  cursor: pointer;
}

.song {
  width: 70%;
  margin: 0 auto;
}

.song__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.song__language {
  width: 160px;
}

.song__info-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

.song__logo {
  margin-bottom: 7%;
}

.song__logo span {
  font-size: 25px;
  color: #555;
  font-weight: bold;
}

.song__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f7ff;
  border-radius: 24px;
  width: 60%;
  height: 280px;
  padding: 2ch 4ch 4ch 4ch;
}

.song__info label {
  display: inline-block;
  width: 130px;
  text-align: right;
}

.song__info input[type="text"] {
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
}

.song__info input[type="text"]:focus {
  outline: none;
  border-radius: 3px;
  border: 1px #126eff solid;
}

.song__language > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.song__language > nav > ul > li input[type="radio"] {
  display: none;
}

.song__language > nav > ul > li input[type="radio"]:checked + label {
  background-color: #82b4ff;
  color: #074bb5;
  -webkit-animation: ripple 0.2s linear forwards;
          animation: ripple 0.2s linear forwards;
}

.song__language > nav > ul > li label {
  width: 70px;
  background-color: #FFF;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  padding: 1ch;
}

.song__cover {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.song__cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.song__cover input[type="file"] {
  display: none;
}

.song__cover label {
  background: #FFF;
  color: #126eff;
  font-size: 0.8rem;
  padding: 8px 10px;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  margin-right: 8px;
  top: 75%;
  left: 40%;
}

.song__cover label:hover {
  background: #126eff;
  color: #FFF;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.song__dummy {
  overflow: hidden;
  visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px;
  min-height: 120px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 2px solid;
}

.song__lyrics > label {
  display: block;
  font-size: 25px;
}

.song__textarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
}

.song__textarea textarea {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 24px;
  resize: none;
  border-color: transparent;
}

.song__textarea textarea:hover {
  border: solid 2px #126eff;
}

.song__textarea textarea:focus {
  outline: none;
  border: solid 2px #126eff;
  border-radius: 24px;
}

.save__button {
  display: block;
  background-color: #126eff;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 50px;
  color: #FFF;
  cursor: pointer;
  margin: auto;
}

.activateP {
  display: block;
}

@-webkit-keyframes kf-arrow-anime {
  0%, 50%, 100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%, 50%, 100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  30% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes kf-bg-anime {
  0% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  25% {
    -webkit-transform: scale(0.05);
            transform: scale(0.05);
  }
  50% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes kf-bg-anime {
  0% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  25% {
    -webkit-transform: scale(0.05);
            transform: scale(0.05);
  }
  50% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  75% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes progress {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0);
  }
}

.donutSpinner {
  position: absolute;
  left: 47%;
  top: 47%;
}

.donutSpinner.open {
  display: inline-block;
  border: 4px solid #e6edff;
  border-left-color: #126eff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: donut-spin .5s linear infinite;
          animation: donut-spin .5s linear infinite;
}

@-webkit-keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes donut-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .dlcardWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dlcardWrap > .dlcard {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
/*# sourceMappingURL=style.css.map */