@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.font-sm {
	font-size: 14px;
}
  .font-md {
	font-size: 17px;
}
  .font-lr {
	font-size: 17px;
}
  .font-lg {
	font-size: 25px;
}

body {
	font-family: "Roboto", "Noto Sans JP", sans-serif;
}

h1 {
	font-size: 20px;
	margin: 0;
}

img {
	max-width: 100%;
}

 button:focus {
	outline: 0;
}

ul {
	padding: 0
}

li {
	list-style: none;
}

.svgAll {
	display: none;
}

#global-container {
	display: flex;
}

//header
.header {
	width: 300px;
	min-height: 100vh;
	background-color: $headerWhite;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	z-index: 2;
	transform: translateX(-300px);
	transition: transform .5s;
	@include none-scrollBar;


	&__close {
		color: $cBlue;
		text-align: end;
		padding: 20px 20px 0px 0px;
		& > svg {
			cursor: pointer;
			height: 18px;
			width: 18px;
		}
		&:hover {
			color: #5798ff;
		}
	}
	
	&__inner {
		margin: 10% auto;
	}
	
	&.open {
		transform: translateX(0);
		border-radius: 0px 15px 15px 0px;
		box-shadow: 6px 6px 18px -10px #a0c2f9;

	}
}

.blur-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 23, 61, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}

.menu {
	& > ul{
		& > li {
			cursor: pointer;
			& > svg {
				margin-right: 5px;
			}
			&:hover {
				color: $cBlue;
				& > svg {
					fill: $cBlue;
				}
			}
			&.active {
				color: $cBlue;
				& > svg {
					fill: $cBlue;
				}
			}
			& > .icon {
				width: 15px;
				height: 30px;
			}
		}
	}
}


.appName {
	margin-bottom: 10%;
	& > svg {
		margin-right: 10px;
		margin-bottom: 4px;
		fill: $YoutubeRed;
		height: 1.4em;
		width: 1.4em;
	}
}

.infomation {
	width: 80%;
	margin: 0 auto;
	margin-top: 10%;
}
	
.twitterContent {
	@extend .font-sm;
	height: 140px;
	background: $cWhite;
	border-radius: 20px;
	margin-top: 10%;
	margin-bottom: 10%;
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
	&__wrap {
		padding: 10% 3% 0% 10%;
	}
	&__wrap2{
		display: flex;
		justify-content:space-between;
	}
	.profilePic {
		height: 50px;
		width: 50px;
		border-radius: 8px;
		overflow: hidden;
	}
	.aboutMe {
		width: 60%;
		&__name {
			font-weight: bold;
		}
		&__account {
			font-size: .5em;
		}
		&__contact {
			border: none;
			font-size: .75em;
			background-color: $TwitterBlue;
			color: $cWhite;
			width: 60px;
			height: 20px;
			border-radius: 20px;
		}
	}
	&__discript {
		font-size: .5em;
		padding-right: 10%;
		margin-top: 6%;
	}	
}

.supportContent {
	@extend .font-sm;
	height: 140px;
	background: $cWhite;
	border-radius: 20px;
	margin-top: 10%;
	margin-bottom: 10%;
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
	&__wrap {
		padding: 10% 3% 0% 10%;
	}
	&__wrap2 {
		display: flex;
		justify-content:space-between;
	}
	.emoji {
		height: 50px;
		width: 50px;
		border-radius: 8px;
		background-color: $cGreen;
		font-size: 1.8em;
		text-align: center;
		line-height: 2.2em;
	}
	.please {
		width: 60%;
		&__pray {
			font-weight: bold;
		}
		&__support {
			cursor: pointer;
			display: block;
			border: none;
			font-size: .75em;
			background-color: $cGreen;
			color: $cWhite;
			width: 60px;
			height: 20px;
			border-radius: 20px;
		}
	}
	&__discript {
		font-size: .5em;
		margin-top: 6%;
	}
}

.socialContent {
	@extend .font-sm;
	height: 70px;
	background: $cWhite;
	border-radius: 20px;
	margin-top: 10%;
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
	&__wrap {
		padding: 10% 10% 0% 10%;
	}
	.socialMedia {
		&__ul {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
		}
		&__li {
			width: 20px;
			height: 20px;
			& > a {
				& > svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}

//DLカード等があるページ
.main {
	display: none;
	width: 100%;
	padding-top: 2%;
}

.above {
	display: flex;
	justify-content: space-between;
}

.menu-mobile {
	color: $cBlue;
	margin-left: 2%;
	cursor: pointer;
	& > .icon {
		width: 30px;
		height: 30px;
	}
	&:hover {
		color: #5798ff;
	}
}

.add {
	margin-bottom: 3%;
	padding-right: 5%;
	
	&__button {
		cursor: pointer;
		width: 75px;
		height: 35px;
		border: solid 2px $cBlue;
		background-color: transparent;
		border-radius: 35px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		display: flex;
		line-height: 27px;
		transition: box-shadow .5s;
		&:hover {
			box-shadow: none;
		}
		& > span {
			&:nth-child(1) {
				color: $cBlue;
				margin-left: 18%;
				font-size: 11px;
			}
			&:nth-child(2) {
				width: 10px;
				height: 2px;
				background-color: $cBlue;
				display: block;
				transform: translate(3px, 12.5px) rotate(90deg);
				border-radius: 50px;
			}
			&:nth-child(3) {
				width: 10px;
				height: 2px;
				background-color: $cBlue;
				display: block;
				transform: translate(-7px, 12px);
				border-radius: 50px;
			}
		}
	}
	
}	

.youtubeDownload {
	width: 90%;
	margin: 0 auto;
	max-width: $contentMaxWidth;
}



.fadeeffect {
	opacity: 0;
	transform: translate(0, 45px);
	transition: all 500ms;
}

.showeffect {
	opacity: 1;
	transform: translate(0, 0);
}

.dlcard {
	@extend .font-sm;
	position: relative;
	height: 250px;
	margin-bottom: 8%;

	&__title {
		top: 5%;
		left: 11%;
		color: $cWhite;
		z-index: 10;
		position: absolute;
		& > svg {
			fill: $cWhite;
			height: $svgYoutube;
			width: $svgYoutube + 2;
		}
	}
	
	&__videoName {
		display: inline;
		vertical-align: middle;
	}

	&__thumbnail {
		position: absolute;
		z-index: 0;
		border-radius: 20px;
		overflow: hidden;
		height: 100%;
		width: 100%;
		&--cover {
			opacity: 0.8;
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height:100%;
			/* 塗りつぶす */
			background: linear-gradient(top, rgba(255, 255, 255, 0) 40%, #ffa4a4 100%);
		}

		& > img {
			object-fit: cover;
			width: 100%;
			height: 100%;

		}
	}
	&__url {
		width: 70%;
		z-index: 11;
		position: absolute;
		bottom: 0;
		bottom: 1%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);

		& > input {
			color: $cWhite;
			&::placeholder {
				color: rgba(255, 255, 255, .8);
			}
			&[type="url"] {
				border: 1px solid $cWhite;
				width: 100%;
				outline: none;
				line-height: 2px;
				border-width: 0px 0px 2px 0px;
				background-color: transparent;
				}
		}
	}

}

.downloadButton {
	$downloadButton: & !global;
	font-size: 11px;
	margin: 3% auto;
	display: block;
	width: 120px;
	height: 40px;

	&__bg {
		transition: transform .5s;
		transform: scaleY(1);
	}
	
	&__circle {
		cursor: pointer;
		width: 100%;
		transition: transform .5s;
		color: $cWhite;
		border: none;
		position: relative;
		z-index: 11;
		display: flex;
		border-radius: 50px;
		background: $cBlue;
		align-items: center;
		padding:6px 0px 6px 20px;
		
	}
		
	&__icon {
		width: 17px;
		height: 30px;
		border-bottom: solid 2px;
		transform: translate(10px, -7px);

		&::before {
			width: 1px;
			height: 5px;
			border: solid 1px;
			content: "";
			display: block;
			border-radius: 50px;
			transform: translate(-1px, 25px);
		}

		&::after {
			width: 1px;
			height: 5px;
			border: solid 1px;
			content: "";
			border-radius: 50px;
			display: block;
			transform: translate(15.5px, 20px);
		}
		& > svg {
			position: absolute;
			top: 13px;
			left: 2px;
			fill: $cWhite;
			height: $svgArrow;
			width: $svgArrow;
			transform: translate(0px, -2px);
			@include animation($name: kf-arrow-anime, $iteration-count: infinite, $duration: 1s, $timing-function: linear)
		}
	}
		
	.progressBar {
		display: none;
		transition: all .5s;
	}

	&.open {
		width: 250px;
		& #{$downloadButton}__bg {
			background: $ProgressBg;
			position: relative;
			width: 100%;
			height: 40px;
			transform: scaleY(0.125);
			margin-top: 5px;
			display: block;
			border-radius: 5px;
		}
		& #{$downloadButton}__circle{
			position:absolute;
			height: 100%;
			border-radius: 5px;
			background-color:$cBlue;
			padding: 0;
	
		}
		& #{$downloadButton}__text {
			display: none;
		}

		& #{$downloadButton}__icon {
			display: none;
		}

		& #progress-css {
			width: 100%;
		}

		& .progressBar {
			animation-name: progress;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			animation-fill-mode: both;
			&__value {
				text-align: end;
				margin-bottom: -18px;
			}
			& > #progress-css{
				width: 100%;	
			}
		}
	}
}

.selectType {
	&__button {
		& > input[type="radio"] {
			display: none;
			&:checked + label:before {
				border-color: $md-radio-checked-color;
				animation: ripple 0.2s linear forwards;
			}
			&:checked + label:after {
				transform: scale(1);
			}
		}
		& > label {
			display: inline-block;
			min-height: $md-radio-size;
			position: relative;
			padding: 0 ($md-radio-size + 10px);
			margin-bottom: 0;
			cursor: pointer;
			vertical-align: bottom;
			&:before, &:after {
				position: absolute;
				content: '';
				border-radius: 50%;
				transition: all .3s ease;
				transition-property: transform, border-color;
			}
			&:before {
				left: 0;
				top: 0;
				width: $md-radio-size;
				height: $md-radio-size;
				border: 2px solid $md-radio-border-color;
			}
			&:after {
				top: $md-radio-size / 2 - $md-radio-checked-size / 2;
				left: $md-radio-size / 2 - $md-radio-checked-size / 2;
				width:$md-radio-checked-size;
				height:$md-radio-checked-size;
				transform: scale(0);
				background:$md-radio-checked-color;
			}
		}
	}
}

//曲の情報を設定するページ
.main2 {
	display: none;
	width: 100%;
	padding-top: 2%;
}

.songs-song-wrap {
	margin: auto 0;
}
.title-pagination-wrap {
	display: flex;
	justify-content: space-between;
	padding: 3ch;
}

.datatitle {
	width: 70%;
	&__name {
		font-weight: 900;
		font-size: 40px;
	}
}

.numerator {
	color: $cBlue;
}
.pagination {
	display: flex;
	width: 160px;
	justify-content: space-between;
	&__number {
		background-color: $headerWhite;
		border-radius: 50px;
		width: 100px;
		text-align: center;
		height: 30px;
		line-height: 30px;
	}

	&__buttons {
		width: 35px;
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	&__previous {
		width: 13px;
		height: 13px;
		border: solid 1px black;
		border-style: none none solid solid;
		transform: rotate(45deg);
		background-color: transparent;
		cursor: pointer;

	}
	&__next {
		width: 13px;
		height: 13px;
		border: solid 1px black;
		border-style: solid solid none none;
		transform: rotate(45deg);
		background-color: transparent;
		cursor: pointer;


	}
}

.song {
	width: 90%;
	margin: 0 auto;
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__language {
		width: 160px;
	}
	&__info-cover {
		margin-bottom: 10%;

	}
	&__logo {
		margin-bottom: 7%;
		& span {
			font-size: 25px;
			color: $ProgressBg;
			font-weight: bold;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		background-color: $songInfobg;
		border-radius: 24px;
		height: 280px;
		padding: 2ch 4ch 4ch 4ch;
		margin-bottom: 10%;

		& label {
			display: inline-block;
			width: 130px;
			text-align: right;
		}
		& input {
			&[type="text"] {
				border: 1px solid black;
				border-radius: 3px;
				background-color: transparent;
				&:focus {
					outline: none;
					border-radius: 3px;
					border: 1px $cBlue solid;
				}
			}
			
			
			
		}
		
	}
	&__language {
		& > nav {
			& > ul {
				display: flex;
				justify-content: space-between;
				& > li {
					& input[type="radio"] {
						display: none;
						&:checked + label {
							background-color: $songRadio;
							color: $songRadioText;
							animation: ripple 0.2s linear forwards;
						}
					}
					& label {
						width: 70px;
						background-color: $cWhite;
						border-radius: 50px;
						text-align: center;
						cursor: pointer;
						font-size: 12px;
						padding: 1ch;
					}
				}
			}
		}
	}
	&__cover {
		width: 200px;
		height: 200px;
		border-radius: 24px;
		overflow: hidden;
		position: relative;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
		}
		& input{
			&[type="file"] {
				display: none;
			}
		}
		& label {
			background:$cWhite;
			color: $cBlue;
			font-size: 0.8rem;
			padding: 8px 10px;
			border-radius: 50px;
			display: inline-block;
			position: absolute;
			cursor: pointer;
			margin-right: 8px;
			top: 75%;
			left: 40%;
			
			&:hover {
			  background:$cBlue;
			  color: $cWhite;
			  transition: 0.3s ease-out;
			}
			
		}
	}
	&__dummy {
		overflow: hidden;
		visibility: hidden;
		box-sizing: border-box;
		padding: 5px 15px;
		min-height: 120px;
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow-wrap: break-word;
		border: 2px solid;
	}

	&__lyrics {
		& > label {
			display: block;
			font-size: 25px;
		}
	}

	&__textarea {
		position: relative;
		font-size: 1rem;
		line-height: 1.8;

		
		
		& textarea {
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			padding: 5px 15px;
			width: 100%;
			height: 100%;
			background-color: transparent;
			border-radius: 24px;
			resize: none;
			border-color: transparent;
			&:hover {
				border: solid 2px $cBlue;
				
			}
			&:focus {
				outline: none;
				border: solid 2px $cBlue;
				border-radius: 24px;


			}
		}
	}
}

.save {
	margin: 10% auto;
	&__button {
		display: block;
		background-color: $cBlue;
		width: 120px;
		height: 40px;
		border: none;
		border-radius: 50px;
		color: $cWhite;
		cursor: pointer;
		margin: auto;
		
		

	}
}

.activateP {
	display: block;
}


@keyframes kf-arrow-anime {
	0%, 50%, 100% {
		transform: translateY(-10%);
	}

	30% {
		transform: none;
	}

}

@keyframes kf-bg-anime {
	0% {
		transform: scale(0.01);
	}

	25% {
		transform: scale(0.05);
	}

	50% {
		transform: scale(0.1);
	}

	75% {
		transform: scale(0.5);
	}
}

@keyframes progress{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes ripple {
	0% {
	  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
	}
	50% { 
	  box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
	}
	100% {
	  box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
	}
  }