//color
$cWhite: #FFF;
$cGreen:  #28b2b1;
$headerWhite: #FAFBFD;
$songInfobg: #f2f7ff;
$cBlue: #126eff;
$songRadio: #82b4ff;
$songRadioText: #074bb5;
$TwitterBlue: #1da1f2;
$YoutubeRed: #FF0000;
$ProgressBg: #555;


$contentMaxWidth: 1070px;
$svgYoutube: 1.4em;
$svgArrow: 13px;

//radio-button
$md-radio-checked-color: $cBlue;
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 18px;
$md-radio-checked-size: 8px; 
$md-radio-ripple-size: 10px;